################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*/bin
/*/bin/*
/*/obj
/*/obj/*
/*/packages
/*/packages/*
/packages
/Build Libraries/*

#/ClientUnitTests/bin
#/ClientUnitTests/obj
#/SharedUnitTests/bin
#/SharedUnitTests/obj
#/packages
#/Server/bin
#/Server/obj
#/Server/packages
#/Shared/bin
#/Shared/obj
#/Shared/packages
#/Client/bin
#/Client/obj
#/Graphics/bin
#/Graphics/obj
