################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClientUnitTests/bin/Debug
/ClientUnitTests/obj/Debug
/SharedUnitTests/bin/Debug
/SharedUnitTests/obj/Debug
/packages
/Server/bin
/Server/obj
/Shared/bin
/Shared/obj
/Shared/packages/
/Client/bin
/Client/obj
/Graphics/bin
/Graphics/obj
/Old Code
/Build Libraries